[Unit]
Description=Emacs daemon

[Service]
Type=simple
WorkingDirectory=%h
ExecStart=/usr/bin/emacs --fg-daemon
Restart=on-failure

[Install]
WantedBy=default.target
