[Unit]
Description=Syncthing file synchronization

[Service]
Type=simple
ExecStart=/usr/bin/syncthing serve --no-browser --no-restart --logfile=default
Restart=on-failure

[Install]
WantedBy=default.target
