##################### iCloud Account ##################################
IMAPStore iCloud-remote
    Host imap.mail.me.com
    Port 993
    User {{ vault_icloud_email }}
    PassCmd "secret-tool lookup icloud-mail icloud"
    AuthMechs *
    TLSType IMAPS
    TLSVersions +1.2 +1.3
    PipelineDepth 1

MaildirStore iCloud-local
    Path ~/Maildir/iCloudAccount/
    Inbox ~/Maildir/iCloudAccount/INBOX
    SubFolders Verbatim

Channel iCloud
    Far :iCloud-remote:
    Near :iCloud-local:
    Patterns *
    Create Both
    Expunge Both
    SyncState *

##################### Protonmail Account ##################################
IMAPStore protonmail-remote
    Host 127.0.0.1
    Port 1143
    User {{ vault_protonmail_email }}
    PassCmd "secret-tool lookup protonmail-bridge protonmail"
    AuthMechs *
    TLSType STARTTLS
    PipelineDepth 1
    CertificateFile  {{ desktop_protonmail_bridge_cert_path }}

MaildirStore protonmail-local
    Path ~/Maildir/ProtonMailAccount/
    Inbox ~/Maildir/ProtonMailAccount/INBOX
    SubFolders Verbatim

Channel Protonmail
    Far :protonmail-remote:
    Near :protonmail-local:
    Patterns *
    Create Both
    Expunge Both
    SyncState *
