[greeter]
theme-name={{ xfce_theme_gtk }}
icon-theme-name={{ xfce_theme_icons }}
font-name={{ xfce_font_ui }}
background=#050505
clock-format=%a %d %b, %H:%M
indicators=~host;~spacer;~clock;~spacer;~session;~power
