[Configuration]
FontName={{ xfce_font_monospace }}
MiscUseSystemFont=FALSE
MiscMenubarDefault=FALSE
MiscToolbarDefault=FALSE
MiscBordersDefault=TRUE
ScrollingLines=10000
BackgroundMode=TERMINAL_BACKGROUND_SOLID
ColorForeground=#d8d8d8
ColorBackground=#050505
ColorCursor=#d8d8d8
ColorSelection=#d8d8d8
ColorSelectionUseDefault=FALSE
ColorSelectionBackground=#3a5f7f
ColorPalette=#050505;#8f3f3f;#5f7f5f;#8f7f3f;#3a5f7f;#6f4f7f;#3f7f7f;#d8d8d8;#777777;#bf5f5f;#7f9f7f;#af9f5f;#5f7f9f;#8f6f9f;#5f9f9f;#ffffff
