<?xml version="1.0" encoding="UTF-8"?>

<channel name="xfwm4" version="1.0">
  <property name="general" type="empty">
    <property name="theme" type="string" value="{{ xfce_theme_wm }}"/>
    <property name="title_font" type="string" value="{{ xfce_font_ui }}"/>
    <property name="workspace_count" type="int" value="6"/>
    <property name="workspace_names" type="array">
      <value type="string" value="term"/>
      <value type="string" value="web"/>
      <value type="string" value="code"/>
      <value type="string" value="mail"/>
      <value type="string" value="ops"/>
      <value type="string" value="misc"/>
    </property>
    <property name="use_compositing" type="bool" value="false"/>
    <property name="click_to_focus" type="bool" value="true"/>
    <property name="focus_delay" type="int" value="250"/>
    <property name="raise_delay" type="int" value="250"/>
  </property>
</channel>
