<?xml version="1.0" encoding="UTF-8"?>

<channel name="xsettings" version="1.0">
  <property name="Net" type="empty">
    <property name="ThemeName" type="string" value="{{ xfce_theme_gtk }}"/>
    <property name="IconThemeName" type="string" value="{{ xfce_theme_icons }}"/>
  </property>
  <property name="Gtk" type="empty">
    <property name="FontName" type="string" value="{{ xfce_font_ui }}"/>
    <property name="MonospaceFontName" type="string" value="{{ xfce_font_monospace }}"/>
    <property name="CursorThemeName" type="string" value="Yaru"/>
    <property name="DecorationLayout" type="string" value="menu:minimize,maximize,close"/>
  </property>
  <property name="Xft" type="empty">
    <property name="Antialias" type="int" value="1"/>
    <property name="Hinting" type="int" value="1"/>
    <property name="HintStyle" type="string" value="hintslight"/>
    <property name="RGBA" type="string" value="rgb"/>
  </property>
</channel>
