#!/bin/sh

set -eu

export USER="{{ username }}"
export HOME="{{ user_home }}"

groups="$(id -Gn "$USER" | tr ' ' ':')"
svdir="$HOME/.local/runit/current"

exec chpst -u "$USER:$groups" runsvdir "$svdir"
