<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>Aegis AdGuard Home web interface</short>
  <description>AdGuard Home administrative web interface on Aegis.</description>
  <port protocol="tcp" port="{{ aegis_adguard_web_port }}"/>
  <port protocol="tcp" port="443"/>
</service>
